<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Lens</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <link rel="shortcut icon" href="lib/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="lib/img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="lib/css/bootstrap.css" rel="stylesheet">
    <link href="lib/css/font-awesome.css" rel="stylesheet">
	<link href="lib/css/reset.css" rel="stylesheet"> <!-- CSS reset -->
	<link href="lib/css/custom.css" rel="stylesheet">
	<link href="lib/css/responsive.css" rel="stylesheet">
	<link href="lib/css/slider.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="lib/js/modernizr.js"></script> <!-- Modernizr -->
	<style>
		
		
		.min-height1{    min-height: 401px;}
		
	</style>
  </head>
  <body>
	<div class="container">
		<div class="row">
			<div class="col-md-12 ">
				<div class="col-md-4 m-top no-padding">
					<div class="col-md-12 position m-top3">
						<h2 class="p_top">Position <br>Left</h2>
						<p>Turn your face left</p>
						<p>to fit into the dotted line.</p>
					</div>
					<div class="col-md-12 position m-top3 min-height2">
						<div class="col-md-12">
							<div class="col-md-6 col-md-offset-3 text-right reset">
							<a href="#"><i class="fa fa-repeat repeat"></i> Reset</a>
							
							</div>
						</div>
						<div class="col-md-12">
							<div class="col-md-3 position ">
								<a href="#"><i class="fa fa-volume-up volume"></i></a>
							</div>
							<div class="col-md-6">
								<div class="col-md-7 position slider">
									<form>
										<input type="text" class="span2" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="-14" data-slider-orientation="vertical" data-slider-selection="after">
									
									</form>	
									
								</div>
							</div>
							<div class="col-md-2 ">
								<i class="fa fa-check check"></i>
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5 p_top no-padding position_bg min-height2">
					<div class="col-md-12 m-top3">
						<img src="lib/images/left-02.png" class="img-responsive">
					</div>
				</div>
				<div class="col-md-3 m-top no-padding ">
					<div class="col-md-12 min-height2">
						<a href="3DPosition_right.html" class="need-help">Need Help?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="lib/js/jquery-1.11.0.min.js"></script>
	<script src="lib/js/bootstrap.min.js"></script>
	<script src="lib/js/main.js"></script>
	<script src="lib/js/bootstrap-slider.js"></script>
	<script>
	$('.slider').slider()
	
	</script>
  </body>
</html>