<!DOCTYPE html>
<html lang="en">
  <body>
	<div class="container">
		<div class="row">
			<div class="col-md-12 no-padding walkthrough">
			<i class="fa fa-times fa_walkthrough close_btn" title="close"></i>
				<div class="col-md-12">
					<div class="col-md-12 m-top">
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
							<!-- Indicators -->
						  <ol class="carousel-indicators">
								<li class="line1 img-circle center-block active" data-target="#myCarousel" data-slide-to="0"><img src="{{:host}}/images/circle1.png" alt="images" class="img-responsive"/></li>
								<li class="line2 img-circle center-block" data-target="#myCarousel" data-slide-to="1"><img src="{{:host}}/images/circle1.png" alt="images" class="img-responsive"/></li>
								<li class="control_3 img-circle center-block" data-target="#myCarousel" data-slide-to="2"><img src="{{:host}}/images/circle1.png" alt="images" class="img-responsive"/></li>
								<div class="num">  Page 1 of 2 </div>
						  </ol>

						  <!-- Wrapper for slides -->
						  <div class="carousel-inner">
							<div class="item active height">
								<p>How it works</p>
								<div class="col-md-12">
									<img src="{{:host}}/images/img1.png" alt="images" class="img-responsive">
								</div>
								<div class="col-xs-12">
									<h2>Your camera is accessed to<br>generate a 3D model <br>of your face</h2>
								</div>
							</div>
							<div class="item height">
									<p>How it works</p>
										<div class="col-md-12">
											<img src="{{:host}}/images/img1.png" alt="images" class="img-responsive">
										</div>
										<div class="col-xs-12">
											<h2>Follow on-screen instructions <br>& complete the setup <br>to try Glasses Virtually</h2>
								
										</div>
							</div>
							<div class="item height">
								<p>How it works</p>
								<div class="col-md-12">
									<img src="{{:host}}/images/img1.png" alt="images" class="img-responsive">
								</div>
								<div class="col-xs-12">
									<h2>TRY NOW</h2>								
								</div>
								<div class="col-xs-12 text-center m-top1">								
										<a class="uploadphoto">Get Started</a>								
								</div>
								<div class="col-xs-12 text-center m-top1">
									<a class="walkthrough_cancel">Cancel</a>									
								</div>
							</div>
						  </div>
						</div>						
					</div>
					<div class="col-xs-12 text-right m-top">
						<!-- <a href="#">Need Help?</a> -->						
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{{:host}}/js/main.js"></script>
  </body>
</html>