<!DOCTYPE html>
<html lang="en">
  <body>
	<div id="templ" class="container">
		<div class="row">
			<div class="col-md-12 no-padding login_page">
				<i class="fa fa-times fa_home close_btn" title="close"></i>
				<div class="col-md-offset-6 col-md-6">
					<div class="col-md-12 login_page_margin">
						<h2>TRY ON <br>your style</h2>
						<div class="col-md-12 m-top">
							<div class="col-md-6 ">							
								<button class="blue" type="button"><span><i class="fa fa-facebook"></i></span>LOG-IN</button>
							</div>
							<div class="col-md-6 ">
								<button class="orange" type="button"><span><i class="fa fa-google-plus"></i></span>LOG-IN</button>
							</div>
						</div>
						<div class="col-xs-12 m-top no-padding">
							<p>We will never share your personal information with anyone.</p>
							<a id="skip_login" class="skip_login">SKIP LOGIN <i class="m-left fa fa-arrow-right "></i></a>						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>